h2.d-flex.justify-content-center {
  font-size: 4rem;
  margin-top: 4rem;
}

.button-alignment.row {
  justify-content: space-evenly;
  margin-top: 4rem;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}